{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
  },
  "rules": {
    "max-len": ["warn", 120],
    "indent": ["warn", 2],
    "react/jsx-indent": ["warn", 2],
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-indent-props": [0, 1],
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "no-nested-ternary": 0,
    "class-methods-use-this": 0,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "no-underscore-dangle":"off",
    "object-curly-newline":"off"
  },
  "globals": {
    "localStorage": true,
    "window": true,
    "document": true
  }
}
