.full-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body{background:url("/texture.jpg");background-size:100%;background-repeat:repeat}
/* Log in form */
/* label.my-3.display-4.form-control-label {
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: .5em;
  color: #e06245 !important;
  font-family: Proxima-Nova, sans-serif !important;
  text-transform: uppercase;
} */
#auth-form {
  width: 340px;
  border-radius: 0px;
}

#signin {
	text-align: center;
	background-color: transparent;
	color: #433a3b;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15%;
}
/* 
#linkedin_button {
	padding: 20px;
} */

body {
	/* background: url("/notebook.jpeg"); */
	background-size: 100%;
	/*background: lightgrey;*/
    background-repeat: no-repeat;
}
