.full-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#auth-form {
  width: 340px;
  border-radius: 5px;
  border: 1px solid #d8762655;
  box-shadow: 0 3px 5px #e7494415;
}
